<form method="GET" action="{{ path('search')}}" name="filter-query" class="d-flex">
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" value="Valider" class="btn btn-outline-success ml-3"/>
</form>