{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-center">BookMyArtist qu'est ce que c'est ?</h1>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae doloremque fuga fugit hic illum ipsa laborum
            maxime necessitatibus, nostrum, quae quasi! Accusamus, amet dicta dolores eaque illum ipsum neque, nulla numquam
            odit quae ratione reiciendis saepe sint totam vero. Amet blanditiis dolorum expedita facilis harum, iure maxime
            nam nobis non odit placeat quam recusandae repudiandae soluta unde? Aspernatur atque dolore ex incidunt iusto
            neque, obcaecati officiis optio voluptates. A, aperiam architecto blanditiis consectetur dignissimos distinctio
            dolore dolorum ducimus eius enim error harum hic illo impedit ipsa ipsam iusto laboriosam libero magnam minima
            minus modi molestiae molestias mollitia necessitatibus odio omnis possimus quae sed sit soluta tempora vel
            vitae. Aspernatur id incidunt sint ut veritatis. Accusantium adipisci aperiam at, autem commodi cumque debitis
            delectus distinctio dolorem error eum ex expedita id inventore itaque laboriosam necessitatibus neque nihil
            numquam omnis quae quia quis reprehenderit sapiente sequi vero voluptas. Aut, dolorem pariatur.</p>
    </div>
{% endblock %}