{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">CGU / CGV</h1>
    <div class="container">
        <h2 class="text-center">Conditions générales d'utilisations</h2>

        <h2 class="text-center">Conditions générales de ventes</h2>
    </div>
{% endblock %}
