{% extends 'base.html.twig' %}

{% block title %}BookMyArtist{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="header-home d-flex justify-content-center">
        <div class="main-title position-absolute align-items-center">
            <h1>Le 1er site de réservation d'artiste pour les particuliers</h1>
        </div>
            <img src="{{ asset('uploads/goodwp.com_30333_5a325c11e8e5b.jpg') }}" alt="">
    </div>

    <div class="filter d-flex justify-content-center mt-5">
        {{ render(controller('App\\Controller\\UserController:filterAction')) }}
    </div>

    <div class="d-flex container justify-content-center mt-5">
        {% for user in users %}
            {% include 'user/card.html.twig' %}
        {% endfor %}
    </div>
    <div class="mt-5">
        <ul class="d-flex justify-content-around">
            <li class="text-center"><i class="fa fa-user fa-3x"></i>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="text-center"><i class="fa fa-user fa-3x"></i>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="text-center"><i class="fa fa-user fa-3x"></i>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="text-center"><i class="fa fa-user fa-3x"></i>
                <p>Lorem ipsum dolor sit amet.</p>
            </li>
        </ul>
    </div>
    <div class="mt-5 bg-light">
        <h2 class="text-center">Good title</h2>
        <ul class="d-flex justify-content-around">
            <li class="text-center">
                <p class="display-4">85</p>
                <span>Lorem ipsum dolor.</span>
            </li>
            <li class="text-center">
                <p class="display-4">1254</p>
                <span>Lorem ipsum dolor.</span>
            </li>
            <li class="text-center">
                <p class="display-4">1898</p>
                <span>Lorem ipsum dolor.</span>
            </li>
        </ul>
    </div>
    <div class="mt-5">
        <h2 class="text-center">Antoher good title</h2>
        <div class="row justify-content-center">
            <div class="col-5 mt-3">
                <img src="{{ asset('uploads/354.jpg') }}" alt="">
            </div>
            <div class="col-4 mt-3">
                <form>
                    <div class="form-group">
                        <label for="">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <label for="">Prénom</label>
                        <input type="text" class="form-control" id="prénom" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <label for="">Adresse mail</label>
                        <input type="email" class="form-control" id="mail" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Envoyez votre demande !</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
