{% extends 'base.html.twig' %}

{% block title %}BookMyArtist{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Le 1er site de réservation d'artiste pour les particuliers</h1>
    <img src="{{ asset('uploads/goodwp.com_30333_5a325c11e8e5b.jpg') }}" alt="">
</div>

    {% for user in users %}
        {% include 'user/card.html.twig' %}
    {% endfor %}
{% endblock %}
