@import "~bootswatch/dist/journal/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/journal/bootswatch";
@import "~font-awesome/scss/font-awesome";
@import "~select2/dist/css/select2.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$hblue : #225378;
$lblue : #1695A3;
$vlblue : #ACF0F2;
$lwhite : #F1F1F1;
$orange : #EB7F00;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Light", sans-serif;
}

a {
  color: $lblue;
}

a:hover{
  color: $hblue;
  text-decoration: none;
}

ul{
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: $lwhite;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.lwhite {
  background-color: $lwhite;
}

.lblue {
  background-color: $lblue;
}

.hblue {
  background-color: $hblue;
}

.vlblue {
  background-color: $vlblue;
}

.orange {
  background-color: $orange;
}


i.fa-facebook-official, .fa-twitter, .fa-youtube, .fa-instagram, .fa-lock, .fa-warning, .fa-volume-control-phone {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.logo {
  width: 200px;
}

.main-title {
  position: absolute;
  align-self: center;
  color: $lwhite;
}


.main-content {
  background-color: $lwhite;
}


.artist-card {

  .card-img-top {
    width: 100%;
  }

  .card-logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 4em;
    color: white;
  }
}

.cta-formule button {
  margin: 0 auto;
}

.bma-footer {
  background-color: $hblue;
}

.bma-society {
  color: $lwhite;
}

.bma-link-footer h3 {
  color: $lwhite;
}

.bma-link-footer a {
  color: $lwhite;
  text-decoration: none;
}

.bma-link-footer a:hover {
  color: $orange;
  transition: color 0.1s;
}

.bma-newsletter {
  color: $lwhite;
}

#template_formules {
  display: flex;
}

#template_formules > div {
  display: flex;
}

.formules {
  display: flex;
}

.img-comment {
  max-width: 10%;
}

.help-text:hover {
  cursor: help;
}

.card-effect {
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.card-effect:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
}

#artist_pictureFile_file {

}

.select2 {
  width: 100% !important;
}

#template_choice_template label {
  margin-left: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: $orange;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"].switch_1{
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 5px;
  width: 50px;
  height: 25px;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
  background: $orange;
  margin-left: 5px;
}

input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 25px);
}

.artist-social {
  background-color: $orange;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  i, label{
    color: white;
  }
}

.btn-outline-primary {
  color: $orange;
  border-color: $orange;
}

.btn-outline-primary:hover {
  background-color: $orange;
  border-color: $orange;
}

.artist-template {
  background-color: $orange;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  i, label{
    color: white;
  }
}

#template_templateDescription {
  width: 100%;
}

.btn-outline-success {
  color: $lblue;
  border-color: $lblue;
}
.btn-outline-success:hover {
  color: $lwhite;
  border-color: $lblue;
  background-color: $lblue;
}

#comment {
  display: flex;
  flex-direction: column;
}
