{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">{{ user.artistId }}</h1>
    <img src="{{ asset('uploads/images/users/user/' ~ user.templateImage) }}" alt="">
{% endblock %}