<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BookMyArtist{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="main-nav my-2 my-md-0 mr-md-3">
                <nav>
                    <form action=""><label for="artist-search"></label>
                        <input type="text" name="artist-search" placeholder="Rechercher un artise">
                    </form>
                    <img src="{{ asset('uploads/logo.png') }}" alt="BookMyArtist">
                    <a href="{{ path('app_register') }}" class="btn">S'inscrire</a>
                    <a href="{{ path('app_login') }}" class="btn">Se connecter</a>
                </nav>
            </div>
        {% endblock %}
        <main>
            {% block body %} {% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
