{{ form_start(fform) }}
    {% if fform.formules is defined %}
    <ul class="formules" data-prototype="{{ form_widget(fform.formules.vars.prototype) }}">
    </ul>
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(fform) }}