{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bonjour {{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
    {% if user.isArtist %}
        <h2>Mon Template</h2>
        {{ include('templateuser/templateChoice.html.twig', {'button_label': 'Modifier mon template'}) }}
    {% else %}
        <h2>Mes réservations</h2>
    {% endif %}
</div>
{% endblock %}
