{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Bonjour {{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h1>
    <p class="h4 text-center">Modifier vos informations en direct</p>
    {{ include('user/_form.html.twig') }}
    <br>
    {% if user.isArtist%}
            <h2>Mon Template</h2>
        {% if not user.template%}
            <span class="no-template">Merci de choisir un template si vous souhaitez avoir une page artiste.</span>
        {% endif %}
            {{ include('templateuser/templateChoice.html.twig', {'button_label': 'Modifier mon template'}) }}
    {% else %}
        <h2>Mes réservations</h2>
    {% endif %}
</div>
{% endblock %}
