{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour {{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h1>
    <form action="">
        <label for="firstname">Prénom</label>
        <input type="text" value="{{ app.user.firstname }}">
        <label for="firstname">Nom</label>
        <input type="text" value="{{ app.user.lastname }}">
        <label for="firstname">email</label>
        <input type="text" value="{{ app.user.email }}">
        <label for="firstname">Mot de passe</label>
        <input type="text">
    </form>
</div>
{% endblock %}
